@page "/add-exam" 
@using OnlineTesty_Library.Models
@inject OnlineTesty_Library.Repositories.IExamRepositories ExamService
@inject OnlineTesty_Library.Repositories.IStudentGroupsRepositories StudentGroupsService 

<h3>Dodaj egzamin</h3>

<EditForm Model="@exam" OnValidSubmit="SubmitExam">
    <div class="form-group">
        <label for="name">Tytuł egzaminu</label>
        <InputText id="name" @bind-Value="exam.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="name">Opis egzaminu</label>
        <InputText id="name" @bind-Value="exam.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label for="name">Grupa studencka</label><br />
        <InputSelect id="student-group" @bind-Value="exam.StudentGroupName">
            @foreach (var item in StudentGroupsService.FindAll())
            {
                <option value="@item.Name">@item.Name</option>
            }
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj egzamin</button>
</EditForm>

@code {
    private Exam exam = new Exam();

    void SubmitExam()
    {
        exam.ExamStatus = "Utworzony";
        var result = ExamService.Create(exam);
    }
}
