@page "/add-student-group"
@using OnlineTesty_Library.Models
@inject IJSRuntime JsRuntime
@inject OnlineTesty_Library.Repositories.IStudentGroupsRepositories StudentGroupService
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Lecturer")]

<h3>Dodaj grupę studencką</h3>

<EditForm Model="@studentGroup" OnValidSubmit="SubmitStudentGroup">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="name">Nazwa grupy</label>
        <InputText id="name" @bind-Value="studentGroup.Name" class="form-control" />
        <ValidationMessage For="() => studentGroup.Name" />
    </div>
    <button type="submit" class="btn btn-primary">Dodaj grupę</button>
</EditForm>

@code
{
    private StudentGroup studentGroup = new StudentGroup();

    async Task SubmitStudentGroup()
    {
        var result = StudentGroupService.Create(studentGroup);

        await JsRuntime.InvokeVoidAsync("alert", "Grupa studencka została dodana pomyślnie");
        NavigationManager.NavigateTo("student-groups");
    }
}