@page "/add-question"
@using OnlineTesty_Library.Models
@inject IJSRuntime JsRuntime
@inject OnlineTesty_Library.Repositories.IExamQuestionsRepositories ExamQuestionsService
@inject Blazored.LocalStorage.ILocalStorageService sessionStorage
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Lecturer")]

<style>
    .btnCreateExamEnding_style {
        box-shadow: inset 0px 39px 0px -24px #e67a73;
        background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
        background-color: #e4685d;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        padding: 5px 10px;
        text-decoration: none;
        text-shadow: 0px 1px 50px #b23e35;
    }

    .btnCreateExamEnding_style:hover {
        background: linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
        background-color: #eb675e;
    }

    .btnCreateExamEnding_style:active {
        position: relative;
        top: 1px;
    }
</style>

<h3>Dodaj pytanie do egzaminu</h3>
<EditForm Model="@examQuestion" OnValidSubmit="SubmitExamQuestion">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Question">Treść pytania</label>
        <InputText id="Question" @bind-Value="examQuestion.Question" class="form-control" />
        <ValidationMessage For="() => examQuestion.Question" />
    </div>
    <div class="form-group">
        <label for="AdditionalDescription">Dodatkowy opis pytania</label>
        <InputText id="AdditionalDescription" @bind-Value="examQuestion.AdditiondalDescription" class="form-control" />
        <ValidationMessage For="() => examQuestion.AdditiondalDescription" />
    </div>
    <div class="form-group">
        <label for="AnswerA">Odpowiedź A</label>
        <InputText id="AnswerA" @bind-Value="examQuestion.AnswerA" class="form-control" />
        <ValidationMessage For="() => examQuestion.AnswerA" />
    </div>
    <div class="form-group">
        <label for="AnswerB">Odpowiedź B</label>
        <InputText id="AnswerB" @bind-Value="examQuestion.AnswerB" class="form-control" />
        <ValidationMessage For="() => examQuestion.AnswerB" />
    </div>
    <div class="form-group">
        <label for="AnswerC">Odpowiedź C</label>
        <InputText id="AnswerC" @bind-Value="examQuestion.AnswerC" class="form-control" />
        <ValidationMessage For="() => examQuestion.AnswerC" />
    </div>
    <div class="form-group">
        <label for="AnswerD">Odpowiedź D</label>
        <InputText id="AnswerD" @bind-Value="examQuestion.AnswerD" class="form-control" />
        <ValidationMessage For="() => examQuestion.AnswerD" />
    </div>
    <div class="form-group">
        <label for="CorrectAnswerChar">Poprawna odpowiedź</label>
        <InputSelect id="student-group" @bind-Value="@examQuestion.CorrectAnswerChar">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj pytanie</button><br /><br />
    <input class="btnCreateExamEnding_style" type="button" name="btnCreateExamEnding" value="Zatwierdź nowy egzamin" @onclick="eventArgs => { CreateExamEnding(); }">
</EditForm>

@code {

    private ExamQuestion examQuestion = new ExamQuestion();
    private int questionIdPom = 0;

    protected EventCallback CreateExamEnding()
    {
        if(questionIdPom != 0)
        {
            NavigationManager.NavigateTo("main-page-lecturer");
        }

        return EventCallback.Empty;
    }

    async Task SubmitExamQuestion()
    {
        examQuestion.ID = Guid.NewGuid();
        examQuestion.ExamID = await sessionStorage.GetItemAsync<Guid>("idExam");
        examQuestion.Order = questionIdPom;
        var result = ExamQuestionsService.Create(examQuestion);
        questionIdPom++;

        await JsRuntime.InvokeVoidAsync("alert", "Pytanie zostało dodane pomyślnie");
    }
}
