<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Zalogowany użytkownik: @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Wyloguj</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Rejestracja</a>
        <a href="Identity/Account/Login">Logowanie</a>
    </NotAuthorized>
</AuthorizeView>
