<div class="top-row pl-4 navbar navbar-dark">
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView Roles="Student">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="main-page-student">
                    <span class="oi oi-home" aria-hidden="true"></span> Strona główna
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Lecturer">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="main-page-lecturer">
                    <span class="oi oi-home" aria-hidden="true"></span> Strona główna
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Student">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="exams-to-write">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Rozwiąż egzamin
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Student">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="student-evaluated-exams">
                    <span class="oi oi-check" aria-hidden="true"></span> Ocenione egzaminy
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Student">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="profile-student-details">
                    <span class="oi oi-key" aria-hidden="true"></span> Ustawienia konta
                </NavLink>
            </li>
        </AuthorizeView>

        <AuthorizeView Roles="Lecturer">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="assigned-exams">
                    <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Przypisane egzaminy
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Lecturer">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="solved-exams">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Do sprawdzenia
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Lecturer">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="evaluated-exams">
                    <span class="oi oi-check" aria-hidden="true"></span> Ocenione egzaminy
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Lecturer">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="add-exam">
                    <span class="oi oi-plus" aria-hidden="true"></span> Utwórz nowy egzamin
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Lecturer">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="add-student-group">
                    <span class="oi oi-person" aria-hidden="true"></span> Dodaj grupę studencką
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Lecturer">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="student-groups">
                    <span class="oi oi-people" aria-hidden="true"></span> Grupy studenckie
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
