@page "/solved-exams"

@using OnlineTesty_Library.Models
@inject OnlineTesty_Library.Repositories.IExamRepositories ExamsService
@inject OnlineTesty_Library.Repositories.IStudentTestSolutionRepositories StudentTestSolutionsService
@inject Blazored.LocalStorage.ILocalStorageService sessionStorage
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Lecturer")]

<h3>Rozwiązane egzaminy</h3>
<br />

<style>
    .btnCreateExamEnding_style {
        box-shadow: inset 0px 39px 0px -24px #e67a73;
        background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
        background-color: #e4685d;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        padding: 5px 10px;
        text-decoration: none;
        text-shadow: 0px 1px 50px #b23e35;
    }

        .btnCreateExamEnding_style:hover {
            background: linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
            background-color: #eb675e;
        }

        .btnCreateExamEnding_style:active {
            position: relative;
            top: 1px;
        }

    .list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .group-record {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: white;
        color: black;
        padding: 12px;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .details-button {
        background-color: #008CBA;
        color: white;
        border: 2px solid #008CBA;
    }

        .details-button:hover {
            background-color: white;
            color: black;
        }

    .remove-button {
        background-color: #f44336;
        color: white;
        border: 2px solid #f44336;
    }

        .remove-button:hover {
            background-color: white;
            color: black;
        }
</style>

<EditForm Model="@filter">
    <div class="form-group">
        <label for="Question">Nazwa egzaminu</label>
        <InputText id="NameFilter" @bind-Value="filter.NameFilter" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Question">Nazwisko studenta</label>
        <InputText id="GroupFilter" @bind-Value="filter.StudentFilter" class="form-control" />
    </div>
</EditForm>

<input class="btnCreateExamEnding_style" type="button" name="btnCreateExamEnding" value="Filtruj" @onclick="eventArgs => { CreateFilter(); }">
<br /><br />


<EditForm Model="@solution">
    <ul class="list">
        @foreach (var item in StudentTestSolutionsService.FindResolvedExamsForLecturer(titleFilter, null, studentFilter))
        {
            <li class="group-record"><a href="/exam-to-be-assessed/@item.ID">Student: @item.StudentEmail, egzamin: @item.ExamTitle</a></li>
        }
    </ul>
</EditForm>

@code {
    private Exam exam = new Exam();
    private ExamFilter filter = new ExamFilter();
    private string titleFilter;
    private string studentFilter;

    private StudentTestSolution solution = new StudentTestSolution();

    protected void CreateFilter()
    {
        titleFilter = filter.NameFilter;
        studentFilter = filter.StudentFilter;
    }
}
