@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>Konto użytkownika zostało poprawnie zarejestrowane!</h1>
<h2>Skontaktuj się z administratorem systemu w celu nadania odpowiedniej roli użytkownika</h2>