@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Twoje konto zostało zarejestrowane. Kliknij w <a id="confirm-link" href="@Model.EmailConfirmationUrl">link</a>, aby potwierdzić rejestrację.
        </p>
    }
}